
.container1{
    width:80%;
    height: 90vh;
    background-color:#3d087b;
    margin: 50px auto;
    display:grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 80vh ;
    justify-content: space-around;
    position:relative;
    z-index:1;
}
/* #part1{
    border:2px solid red;

} */
.clock-pic{
    padding-top: 20px;
    
}
.clock-text{
    position:absolute;
    top:8px;
    left:120px;
    color:beige;
    font-size: 35px;
}

.set-time{
    height:300px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

#choosing-time{
    /* border: 1px solid red; */
    height:73px;
    position: relative;
}

#icon1{
    background-image: url("wake_up.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    display:inline-block;
    width:70px;
    height:71px;

}
#options-space1{
    display:inline-block;
    position:absolute;
    top:20px;
    left:100px;
    font-size: 20px;

}
#options1{
    width:150px;
    height: 30px;
    border-radius: 5px;
    margin-left: 30px;
}

#icon2{
    background-image: url("lunch_time.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width:70px;
    height:71px;
    display: inline-block;
}
#options-space2{
    display: inline-block;
    position:absolute;
    top:20px;
    left:100px;
    font-size: 20px;
    
}

#options2{
    width:150px;
    height: 30px;
    border-radius: 5px;
    margin-left: 50px;

}

#icon3{
    background-image: url("nap_time.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width:70px;
    height:71px;
    display:inline-block;
}

#options-space3{
    display:inline-block;
    position:absolute;
    top:20px;
    left:100px;
    font-size: 20px;
    
}
#options3{
    width:150px;
    height: 30px;
    border-radius: 5px;
    margin-left: 65px;

}

#icon4{
    background-image: url("moon.png");
    background-repeat: no-repeat;
    background-position: center;
    width:70px;
    height:71px;
    display:inline-block;
}
#options-space4{
    display:inline-block;
    position:absolute;
    top:20px;
    left:100px;
    font-size: 20px;
}
#options4{
    width:150px;
    height: 30px;
    border-radius: 5px;
    margin-left: 50px;
}
#display{
    width:445px;
    height: 50px;
    margin-top:20px;
    background-color: azure;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    color:#3d087b;
    padding-top: 15px;
}
.button{
    margin-top: 20px;
    color:white;
    background-image:linear-gradient(to right,#6E54EC,#CB52F8,#FC5EFF,#F1A7C5);
    width:200px;
    height:45px;
    box-shadow:0px 0px 5px;
    border:0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
}
.button:hover{
    background-image:linear-gradient(to right,#CB52F8,#FC5EFF,#F1A7C5,#6E54EC);
}
.button::before{
content: "Set Alarm";
position:relative;
top:3px;
left:40px;
transition: 0.5s;
transform: translate(-50%,-50%);
}
.button::after{
    content: "Party Time";
    position: relative;
    top:3px;
    right:45px;
    transition: 0.5s;
    transform: translate(-50%,-50%);
    top:-50px;
}
.button:hover:before{
    top:35px;
}
.button:hover:after{
    top:3px;
    width:200px;
    height:45px;
}
#part2{
    position: relative;
}
.clock{
width:400px;
height:70px;
background-color: white;
position:relative;
top:20px;
left:30px;
border-radius: 5px;
opacity:1;
}
#back1{
width:350px;
height:70px;
position:absolute;
top:10px;
left:23px;
background-color: #d5cae1;
z-index: -1;
border-radius: 10px;
opacity: 0.67;
}
#back2{
    width:300px;
    height:70px;
    position:absolute;
    top:20px;
    left:45px;
    background-color: #afacb3;
    z-index: -2;
    border-radius: 10px;
    opacity:0.32;
}
.picture{
    /* border:1px solid red; */
    height:390px;
    position:absolute;
    width:400px;
    margin:50px 25px;
}

#right-up{
   width:400px;
   height:90px;
   background-color:white;
   border-radius: 5px;
   color:#3d087b;
   font-size: 30px;
   /* text-align: center; */
display: flex;
align-items: center;
justify-content: center;   
}
#right-down{
   /* border:1px solid rgb(247, 22, 63); */
   width:400px;
   height:300px;
   margin-top:20px;
   background-image:url("standard.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-color: #d5cae1;
}

.time-set{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
    width:400px;
height:70px;
}
.time{
    width:50px;
    height:50px;
    /* border: 1px solid red; */
    color:#3d087b;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:15px;
} 
.hours{
    width:50px;
    height:50px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: #f6e2ff;
    border-radius: 5px;
} 
#hrs{
font-size: 25px;
color:#3d087b;

}
#hrs1{
    margin-top:2px;
    color:#3d087b;
}
.minutes{
    width:50px;
    height:50px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: #f6e2ff;
    border-radius: 5px;
}
#mins{
    font-size: 25px;
    color:#3d087b;
}
#mins1{
    margin-top:2px;
    color:#3d087b;
}
.seconds{
    width:50px;
    height:50px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: #f6e2ff;
    border-radius: 5px;
}
#secs{
    font-size: 25px;
    color:#3d087b;
}
#secs1{
    margin-top:2px;
    color:#3d087b;
}
.am1{
    width:50px;
    height:50px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #c152f6;
    border-radius: 5px;
}
#am{
    color:aliceblue;
}
#dot1{
    font-size: 30px;
}
