.cart {
    position: relative;
    color:white;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
  }
  
  .cartAmount {
    position:absolute;
    top: -1px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
  }
  
  /**
  * ! Shop items styles are here
  **/
  
  .shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    background-color:whitesmoke;
    padding-top: 10px;
  }
  .image-wrapper-shop img{
    height:15vh;
  }
  .image-wrapper-shop img{
    max-width:100%;
    max-height: 100%;
  }

  
  .dn{
    height:10vh;
  }
  .pq{
    height:10vh;
    
  }
  @media (max-width: 1000px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }
  .image img{
    width:100%;
  }

  .item {
    border: 2px solid #fff;
    border-radius: 8px;
    background-color:white;
    box-sizing: border-box;
    box-shadow:0 0 7px 0 rgba(0,0,0,.07);
  }
  
  .item:hover {
    cursor: pointer;
  }
  .name{
    padding-top:30px
  }
  .details .pq {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    text-align:center;
    margin:30px;
  }
  
  .price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
  }
  
  .bi-dash-lg {
    color: red;
  }
  
  .bi-plus-lg {
    color: green;
  }
  
  /**
  * ! style rules for label and some buttons
  **/
  
  .text-center {
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .HomeBtn,
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: green;
  }
  
  .removeAll {
    background-color: red;
  }
  
  .bi-x-lg {
    color: red;
    font-weight: bold;
  }
  
  /**
  * ! style rules for shopping-cart
  **/
  
  .shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
    background-color: white;
    padding-top:10px;
    padding-bottom:10px;
  }
  
  /**
  * ! style rules for cart-item
  **/
  
  .cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
    background-color: white;
  }
  
  .title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .title-price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
  }