<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            background-image: url('https://images.pexels.com/photos/4492104/pexels-photo-4492104.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
             background-repeat: no-repeat;
             background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width:300px;
            opacity:0.7;
        }

        .login h2 {
            margin-bottom: 20px;
            color:aqua;
        }

        .form-group {
            margin-bottom: 15px;
        }

         input[type="text"],
         input[type="password"] {
            width: 80%;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

     button {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

         button:hover {
            background-color: #7f7ae7;
        
        }
        #register{
            text-decoration: none;
            padding:10px;
            margin-left:60%;
            background-color:orange;
            border-radius: 5px;
            color:#f4f4f4;
        }
        #register:hover{
           box-shadow: 0 0 3px black;
        }

    </style>
</head>

<body>
    <div class="login">
        <h2>Login</h2>
        <form action="/login" method="post">
        <input type="text" name="email" id="username" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="password">
         <button onclick="validateLogin()">Login</button>
        </form><br>
       <a id="register" href="signup">Sign Up</a>
    </div>

    <script>
        function validateLogin() {    
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            if (username && password) {
               alert('Login successful!');
            }
        }
    </script>
</body>

</html>
