<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://images.pexels.com/photos/5699519/pexels-photo-5699519.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .signup-container {
            background-color: whitesmoke;
            opacity: 0.9;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width:300px;
        }

        .signup-container h2 {
            margin-bottom: 20px;
            color:aqua;
        }

        .form-group {
            margin-bottom: 15px;
        }

         input[type="text"],
         input[type="email"],
         input[type="number"],
         input[type="password"] {
            width: 80%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

         button {
            background-color: orange;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            
        }
        button:hover{
            box-shadow: 0 0 10px black;
            background-color:aquamarine;
            color:black;
        }
    </style>
</head>

<body>
    <div class="signup-container">
        <h2>Sign Up</h2>
      <form action="/signup" method="post">
      <input type="text" name="name" placeholder="Name" id="username">
      <input type="email" name="email" placeholder="Email" id="email">
      <input type="number" name="number" placeholder="Number" >
      <input type="password" name="password" placeholder="password" id="password"><br>
      <button onclick="validateSignUp()">Submit</button>
      </form>
    </div>
    <script>
        function validateSignUp() {
            var username = document.getElementById("username").value;
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            if (username && email && password) {
                alert('Sign up successful!');
            } else {
                alert('Invalid input. Please check your information and try again.');
            }
        }
    </script>
</body>

</html>
